.date
  text-align: center
  .day
    font-size: 40px
    font-weight: bold

.concert_list_month
  a
    display: block
    width: 100%
    color: #2c3e50
    text-decoration: none
    &:hover
      text-decoration: none
  .glyphicon
    font-size: 20px
    float: right

.venue_info
  margin-top: 20px
  .venue
    font-size: 20px
  i
    font-size: 14px
    padding: 5px

.artists_name
  margin-top: 36px
.ticket_price
  font-size: 18px
  margin-top: 36px
